.home {
  background-color: black;
  color: white;
  height: 100vh;
}

/* ......................HEADER..................... */
/* Navigation Bar */
.Nav-Bar {
  padding: 1em 0em;
  height: 8%;
  background-color: black;
}

/* Navigation Item */
.Nav-Item {
  background-color: black;
  width: 8em;
  text-align: center;
  padding: 0.5em;
  margin: 0.2em;
  float: left;
}

.Nav-Item > a{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.Nav-Item > a:hover {
  color: grey;
}

/*..........................MAIN CONTENT......................*/
.Main-Content {
  padding: 5em;
  color: #8a8a95;
}

.Main-Content-Left {
  width: 70%;
}

.Main-Content-Right {
  width: 30%;
}

.Intro > p > strong{
  font-size: 3em;
}

.Intro > p > strong > span {
  font-size: 1.5em;
}

.Intro > h2 {
  
}